<!DOCTYPE html>
<html lang="en">
<!--En este html se muestra la información que se obtiene de los Json -->
    <head>
        <meta charset="UTF-8">
        <title>Información Procesada</title>
    </head>
    <body>
        El número de personas que transitaron el área fueron:{{ numeroPersonas }} 
    </body>
    <ul>
    	<!-- Aqui va a ir toda la información relacionada al numero de mujeres y al numero de hombres. Además se va a mostrar el video que se proceso-->
    	{% for item in datos%}

    	{% endfor %}

    </ul>
</html>